.Footer {
  background-color: #000000;
}

.FooterGroup {
  min-height: calc(100vh - 240px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 32px;
}

.Footer h2 {
  color: #ffffff;
  margin-bottom: 16px;
}

.Footer a {
  color: #ffffff;
}

.Footer .Button {
  color: #000000;
  background-color: #ffffff;
  margin-top: 10vh;
}

.Signature {
  padding-top: 30vh;
}
