.Footer {
  background-color: #000000;
  padding: 128px 32px;
}

.FooterGroup {
  position: relative;
  margin: 0 auto;
  min-height: calc(100vh - 240px);
  max-width: 1200px;
}

.Footer h2,
.Footer a {
  color: #ffffff;
}

.Footer .Button {
  color: #000000;
  background-color: #ffffff;
  margin-top: 120px;
}

.Signature {
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

@media all and (max-width: 1200px) {
  .Footer {
    padding: 64px 32px;
  }
  
  .FooterGroup {
    min-height: 540px;
  }
}

