.footer {
  background-color: #000;
  padding: 128px 32px;
}

.footerGroup {
  position: relative;
  margin: 0 auto;
  min-height: calc(100vh - 240px);
  max-width: 1200px;
}

.footer h2,
.footer a {
  color: #fff;
}

/* Higher specificity to override .footer a { color: #fff } */
.footer .footerButton {
  color: #000;
  background-color: #fff;
  font-weight: 800;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 120px;
}

.footer .footerButton:hover {
  opacity: 0.8;
}

.footerLink {
  color: #fff;
  margin: 0 0 0 32px;
}

.signature {
  color: #fff;
  position: absolute;
  bottom: 0;
}

@media (max-width: 1200px) {
  .footer {
    padding: 64px 32px;
  }

  .footerGroup {
    min-height: 540px;
  }
}
