.nav {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px;
}

.navGroup {
  display: grid;
  grid-template-columns: repeat(2, 10% 90%);
  align-items: center;
}

.navRight {
  text-align: right;
}

.navLink {
  margin: 0 0 0 32px;
}

/* Override global img { width:100%; margin: 0 auto 192px } */
.navLogo {
  max-height: 48px;
  max-width: 48px;
  margin: 0;
}

@media screen and (max-width: 414px) {
  .navGroup {
    display: grid;
    grid-template-columns: repeat(2, 20% 80%);
  }

  .navLink {
    margin: 0 0 0 16px;
  }

  .navLink:nth-child(4) {
    display: none;
  }
}
