.Nav {
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 10% 90%);
  align-items: center;
}

.NavRight {
  text-align: right;
}

.NavLink {
  margin: 0 0 0 32px;
}

.Logo {
  max-height: 48px;
  max-width: 48px;
}
