.Nav {
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 32px;
}

.NavGroup{
  display: grid;
  grid-template-columns: repeat(2, 10% 90%);
  align-items: center;
}

.NavRight {
  text-align: right;
}

.NavLink {
  margin: 0 0 0 32px;
}

.NavLogo{
  max-height: 48px;
  max-width: 48px;
  margin: 0;
}

@media screen and (max-width: 414px){
  .NavGroup{
    display: grid;
    grid-template-columns: repeat(2, 20% 80%);
  }
  
  .NavLink {
    margin: 0 0 0 16px;
  }
}
