.Project {
  min-height: 100vh;
}

.ProjectGroup {
  max-width: 1200px;
  margin: 0 auto;
}

.ProjectDetails {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: flex-end;
  margin-bottom: 16px;
}
