.project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.projectDetails {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 32px;
  align-items: flex-end;
  margin-bottom: 16px;
}

.project h2 {
  color: #000;
}

@media (max-width: 1200px) {
  .project {
    margin-bottom: 64px;
  }

  .projectDetails {
    display: block;
    margin-bottom: 24px;
  }
}
