.Project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 32px;
}

.ProjectDetails {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 32px;
  align-items: flex-end;
  margin-bottom: 16px;
}

.Project h2 {
  color: #000000;
}

@media all and (max-width: 1200px) {
  .Project {
    margin-bottom: 64px;
  }
  .ProjectDetails {
    display: block;
  }
}
