.section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 192px;
}

.sectionDetails {
  display: grid;
  grid-template-columns: repeat(2, 50% calc(50% - 32px));
  grid-column-gap: 32px;
}

.section p {
  margin-bottom: 32px;
}

@media (max-width: 1200px) {
  .section {
    margin-bottom: 64px;
  }

  .sectionDetails {
    display: block;
  }

  .section p {
    margin-bottom: 16px;
  }
}
