.testimonial {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 192px;
}

.testimonialGroup {
  display: grid;
  grid-template-columns: repeat(2, 50% calc(50% - 32px));
  grid-column-gap: 32px;
}

.testimony {
  margin-bottom: 32px;
}

.testimonyName {
  margin-bottom: 0;
}

.testimonyPosition {
  color: #888;
  font-weight: 800;
  display: inline-block;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .testimonial {
    margin-bottom: 64px;
  }

  .testimonialGroup {
    display: block;
  }
}
